<!doctype html>
<html lang="en-US" manifest="[appcache name]">
<head>
<meta charset="utf-8" />
<meta name="description" content="[description]" />
<meta name="keywords" content="[keywords]" />
<meta name="author" content="[author name or names]" />
<link rel="stylesheet" href="[main css name]" type="text/css" />
<link rel="stylesheet" href="[print css name]" type="text/css" media="print" />
<link rel="stylesheet" href="[mobile css name]"
  type="text/css" media="only screen and (max-device-width: 480px)" />
<link rel="icon" href="[favicon path]" type="image/png" />
<title>[title name]</title>
</head>
<body>
	<!-- content -->
</body>
</html>